.bg-photo {
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/bg.jpeg');
    background-color: #cccccc;
}

.container-form {
    background: white;
    padding: 39px;
    box-sizing: border-box;
    width: 400px;
    margin-top: 30px;
    position: absolute;
}
